.lab__heading {
	font-size: clamp(1rem, 2vw, 1.5rem);
	line-height: 1.2;
	font-weight: 300;
}

@each $elem, $fontSize in $headingOptions {
	#{$elem}.lab__heading {
		font-size: $fontSize;
	}
}

.lab__text {
	font-size: clamp(0.9rem, 2.75vw, 1rem);
	line-height: 1.4;
}
